<!DOCTYPE html>
<html>


<body>
        <h3>Dear, {{scholarship.firstName}}</h3>
        <p>Congratulations one of our esteemed sponsors has agreed to help you achieve your dream by 
                fully funding all you're masters education. Below are the details of the sponsor.

        </p>
        <h4>Sponsor Details</h4>
        Name: {{scholarship.sponsorName}}
        Phone Number: {{scholarship.sponsorPhoneNumber}}

        <h7>Regards</h7>
        <p>Scholarship Review commitee</p>

</body>

</html>